.bagreescola{
    width: 900px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.txte{
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        font-weight: 250;
        text-align: center;
        align-items: center;
        text-indent: 0;
        color: rgb(48, 47, 47);
        line-height: 1.5; 
}

.txte{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70vh;
}

.image2{
    width: 50%;
    height: 14%; 
    position: absolute;
    top: 68%;
    left: 52%;
    transform: translate(-50%, -50%);

}


.txtediv {
    display:flex;
    width: 50%;
    height: 30%; 
    position: absolute;
    top: 165%;
    left: 50.90%;
    transform: translate(-50%, -50%);
}
body {
    
     
    background-color: white;
}

.butam3{
    display: flex;
    text-decoration: none;
    text-align: center;

}

.butam3 {
    padding: 20px 30px;
    background-color: #7c0c0c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 86%;
    transition: background-color 0.3s;
    width: 13%;
    display: block;
    

}

.butam3:hover {
    background-color: #990606;
}

.butam2{
    display: flex;
    justify-content: center;  
   
}

.titulou{
    margin: 60px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: 8px solid rgb(8, 29, 36);;
    background-color: rgb(8, 29, 36);; 
    width: 300px; 
    display: inline-block;
    height: 100px;
}

.titulou{
    text-align: center;
    
}

.tituloudiv{
    text-align: center;
    height: 100px;
}

.textomeio{
    align-items: center;
}

